<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='./stylesheet.css'/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <header>
      yolo
    </header>
      {{{body}}}
      <aside></aside>
      <main>
        <article>
          <section>
            <ul>
              <li>swag</li>
            </ul>
          </section>
          <section>
            <ul>
              <li>Derp</li>
            </ul>
          </section>
        </article>
      
    </main>
    
    <footer>swag</footer>
  </body>
</html>
