<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='./stylesheet.css'/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <header>
    </header
    {{{body}}}
    <footer>
    </footer>
  </body>
</html>
