<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='/stylesheet.css'/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>
        Pittsburgh Penguins
      </h1>
    </header>
      <nav>
        <ul>
          <li><a href = "/">Home</a></li>
          <li><a href = "#">about</a></li>
        </ul>
      </nav>
      <main>
        {{{body}}}
    </main>
    
    <footer>
      <p>
        Aadne Tob
      </p>
    </footer>
  </body>
</html>
